* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 90vw;
    height: 90vh;
    background: #2c2c2c71;
}

#cars {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 29.8vw));
    gap: .3vw;
}

#close  {
    background: transparent;
    border: none;
    outline: none;
    color: red;
    font-weight: bold;
    font-size: 5vw;
    cursor: pointer;
}

#close:hover {
    opacity: .5;
}

.hidden {
    display: none;
}

body {
    padding: 1vw;
}

li {
    color: white;
    padding: .3vw;
    background: #2c2c2cbf;
    border: .3vw solid rgba(255, 255, 255, 0.27) ;
}

li:hover {
    cursor: url('cursor.webp'), pointer;
    border: .3vw solid rgba(255, 255, 255, 0.859) ;
}